<nav class="nv">
  <ul id="nav">
    {{!-- <a id='crest'href="https://www.clipart.email/download/11519929.html" title="Image from clipart.email"><img id="crest"
        src="https://cdn.clipart.email/ba3bdef5209a1e73f560bc1529bce731_logo-hogwarts-png-harry-potter-house-symbol-transparent-png-_840-1031.jpeg"
        width="350" alt="Transparent Background Hogwarts Crest Clipart" /></a> --}}
    <h1>Harry Potter Website</h1>
    <li><a href="/">Sign Up</a></li>
    <li><a href="/logIn">Log In </a></li>
</nav>