<div class="signUp">
    <h1>Sign Up</h1>
    <form method="POST">
        <input name="email" type="email" placeholder="example@gmail.com"></input>
        <br>
        <input name="password" type="password" placeholder="***********"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
    <h3>{{err}}</h3>
</div>
{{!-- <h1>Log In</h1>
<form method="POST">
    <input  name="email" type="email" placeholder="example@gmail.com"></input>
    <input name="password" type="password" placeholder="***********"></input>
    <button type="submit">Submit</button>
</form> --}}